[alias]
	forget = !rm -rI \"$(git rev-parse --git-dir)/rr-cache/\"
	recommit = !git commit --file=\"$(git rev-parse --git-dir)/COMMIT_EDITMSG\" --edit
[blame]
	date = format-local:%a %Y-%m-%d %H:%M
[color "grep"]
	match = 9 bold
[commit]
	gpgSign = true
	verbose = true
[core]
	excludesfile = ~/.gitignore_global
	pager = delta
[credential]
	helper = osxkeychain
[delta]
	commit-decoration-style = bold box ul
	file-style = bold
	line-numbers = true
	pager = less --no-init --quit-if-one-screen
[diff]
	algorithm = histogram
	colorMoved = default
	tool = vimdiff
[diff "utf16"]
	textconv = "iconv -f utf-16 -t utf-8"
[difftool]
	prompt = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	required = true
	smudge = git-lfs smudge -- %f
[format]
	pretty = format:%C(auto,yellow)%h %C(auto,blue)%ad %C(auto,green)%<(8,trunc)%aN%x08%x08 %C(auto)%s %D
[gc]
	auto = 0
	reflogExpire = never
	reflogExpireUnreachable = never
[init]
	defaultBranch = master
[interactive]
	diffFilter = delta --color-only
[log]
	date = format-local:%a %Y-%m-%d %H:%M
[merge]
	autoStash = true
	conflictstyle = zdiff3
	tool = vimdiff
[mergetool]
	keepBackup = false
	prompt = false
[pull]
	rebase = true
	twohead = ort
[push]
	autoSetupRemote = true
	default = simple
[rebase]
	autoStash = true
	updateRefs = true
[rerere]
	enabled = true
[stash]
	showIncludeUntracked = true
	showPatch = true
[tag]
	forceSignAnnotated = true
[user]
	email = eero@ruohola.dev
	name = Eero Ruohola
	signingKey = 6FBF8A6897FE618FE7C3E01FDC40A970DAB939A5
[includeIf "gitdir:~/work/"]
	path = ~/dotfiles/git/.gitconfig_work
