[user]
	name = Eero Ruohola
	email = eero@ruohola.dev
[core]
	excludesfile = /Users/eero/.gitignore_global
[credential]
	helper = osxkeychain
[log]
	date = format-local:%a %Y-%m-%d %H:%M
[blame]
	date = format-local:%a %Y-%m-%d %H:%M
[format]
	pretty = format:%C(auto,yellow)%h %C(auto,blue)%ad %C(auto,green)%<(8,trunc)%aN%x08%x08 %C(auto,reset)%s %C(auto,red)%D
[push]
	default = simple
[pager]
	log = /usr/local/opt/git/share/git-core/contrib/diff-highlight/diff-highlight | less
	show = /usr/local/opt/git/share/git-core/contrib/diff-highlight/diff-highlight | less
	diff = /usr/local/opt/git/share/git-core/contrib/diff-highlight/diff-highlight | less
[pull]
	rebase = true
[rebase]
	autoStash = true
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
	keepBackup = false
