[user]
	name = Eero Ruohola
	email = eero@ruohola.dev
[core]
	excludesfile = /Users/eero/.gitignore_global
[difftool "sourcetree"]
	cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
	trustExitCode = true
[credential]
	helper = osxkeychain
[log]
	date = relative
[format]
	pretty = format:%C(auto,yellow)%h%C(auto,magenta)% %C(auto,blue)%>(12,trunc)%cd %C(auto,green)%<(7,trunc)%aN%C(auto,reset)% s%C(auto,red)% gD% D
[push]
	default = simple
[pager]
	log = /usr/local/opt/git/share/git-core/contrib/diff-highlight/diff-highlight | less
	show = /usr/local/opt/git/share/git-core/contrib/diff-highlight/diff-highlight | less
	diff = /usr/local/opt/git/share/git-core/contrib/diff-highlight/diff-highlight | less
