alfred/Alfred.alfredpreferences/workflows/user.workflow*/warmth

brew/Brewfile.lock.json

karabiner/automatic_backups

sh/bookmarks

vim/.temp/
vim/autoload/plug.vim
vim/autoload/plug.vim.old
vim/plugins/
vim/spell/*.spl

git/.gitconfig_*
