alfred/Alfred.alfredpreferences/workflows/user.workflow*/warmth
alfred/Alfred.alfredpreferences/preferences/local/

brew/Brewfile.lock.json

karabiner/automatic_backups

sh/bookmarks
sh/env

vim/.temp/
vim/autoload/plug.vim
vim/autoload/plug.vim.old
vim/plugins/
vim/spell/*.spl

git/.gitconfig_*

k9s/config.yml
