alfred/Alfred.alfredpreferences/workflows/user.workflow*/warmth
alfred/Alfred.alfredpreferences/preferences/local/

brew/Brewfile.lock.json

karabiner/automatic_backups

vim/.temp/
vim/autoload/
vim/plugins/
vim/spell/
vim/.nvim-temp/
vim/nvim-plugins/

git/.gitconfig_*
