let mapleader=' '

" ============= GENERAL =============

"enable surround plugin emulation
"makes <Leader>dd/cc slow, because of ds and cs mappings
set surround

" " test if needed
" set showmode
" set showcmd

" line numbers (might lag, mby use plugin)
set number
set relativenumber

" search settings
set incsearch
set hlsearch
set ignorecase
set smartcase

" mixed settings
set clipboard=unnamed          " use system clipboard
set scrolloff=1                " pad cursor row with lines


" ============= MAPPINGS =============

" makes these easier to use
noremap , :
noremap q, q:
nnoremap : ;
nnoremap ; ,

" make Y behave the same way as D and C
nnoremap Y y$

" makes v and V more consistent with other commands
nnoremap vv V
nnoremap V <C-V>$

" makes S more useful
nnoremap S ciw

" change enter behaviour
nnoremap <CR> o<Esc>
nnoremap <S-Enter> O<Esc>
nnoremap <C-Enter> mzo<Esc>`z
nnoremap <C-S-Enter> mzO<Esc>`z
nnoremap <Leader><CR> a<CR><Esc>

" better way to indent
nnoremap <BS> <<
nnoremap <TAB> >>
vnoremap <BS> <gv
vnoremap <TAB> >gv

" persistent visuals
vnoremap > >gv
vnoremap < <gv
vnoremap <C-X> <C-X>gv
vnoremap <C-A> <C-A>gv

" Q plays back q macro
nnoremap Q @q

" dont copy to clipboard when editing with <Leader><key>
nnoremap <Leader>d "_d
nnoremap <Leader>D "_D
vnoremap <Leader>d "_d

" clear highlights
nnoremap <Esc> <Esc>:noh<CR>

"move between splits
nnoremap <A-L> :action NextSplitter<CR>
nnoremap <A-H> :action PrevSplitter<CR>

"move between tabs
nnoremap <A-I> :action NextTab<CR>
nnoremap <A-U> :action PreviousTab<CR>

nnoremap ci) f)ci)
" nnoremap ci" f"ci"
nnoremap di) f)di)
" nnoremap di" f"di"

"activate KJump
nnoremap <leader>f :action KJumpAction<CR>
