<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>playSound</key>
	<false/>
	<key>openFileOnCreation</key>
	<false/>
	<key>showFileOnCreation</key>
	<true/>
	<key>showFileIcon</key>
	<true/>
	<key>runInBackground</key>
	<false/>
	<key>hideMenuForFiles</key>
	<false/>
	<key>cascadeMenu</key>
	<true/>
	<key>skipFilename</key>
	<false/>
	<key>showInMenuBar</key>
	<true/>
</dict>
</plist>
