<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Text File</string>
		<key>filename</key>
		<string>TextFile.txt</string>
		<key>prefix</key>
		<string>NewFile</string>
		<key>suffix</key>
		<string>txt</string>
		<key>enabled</key>
		<true/>
		<key>executable</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>Rich Text Document</string>
		<key>filename</key>
		<string>RTFDocument.rtf</string>
		<key>prefix</key>
		<string>NewFile</string>
		<key>suffix</key>
		<string>rtf</string>
		<key>enabled</key>
		<true/>
		<key>executable</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>Pages Document</string>
		<key>filename</key>
		<string>Pages.pages</string>
		<key>prefix</key>
		<string>PagesDocument</string>
		<key>suffix</key>
		<string>pages</string>
		<key>enabled</key>
		<true/>
		<key>executable</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>Pages 08 Document</string>
		<key>filename</key>
		<string>Pages08.pages</string>
		<key>prefix</key>
		<string>PagesDocument</string>
		<key>suffix</key>
		<string>pages</string>
		<key>enabled</key>
		<false/>
		<key>executable</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>Numbers Document</string>
		<key>filename</key>
		<string>Numbers.numbers</string>
		<key>prefix</key>
		<string>NumbersDocument</string>
		<key>suffix</key>
		<string>numbers</string>
		<key>enabled</key>
		<true/>
		<key>executable</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>Numbers 08 Document</string>
		<key>filename</key>
		<string>Numbers08.numbers</string>
		<key>prefix</key>
		<string>NumbersDocument</string>
		<key>suffix</key>
		<string>numbers</string>
		<key>enabled</key>
		<false/>
		<key>executable</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>Keynote Document</string>
		<key>filename</key>
		<string>Keynote.key</string>
		<key>prefix</key>
		<string>KeynoteDocument</string>
		<key>suffix</key>
		<string>key</string>
		<key>enabled</key>
		<true/>
		<key>executable</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>Keynote 08 Document</string>
		<key>filename</key>
		<string>Keynote08.key</string>
		<key>prefix</key>
		<string>KeynoteDocument</string>
		<key>suffix</key>
		<string>key</string>
		<key>enabled</key>
		<false/>
		<key>executable</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>Word Document</string>
		<key>filename</key>
		<string>WordDocument.docx</string>
		<key>prefix</key>
		<string>WordDocument</string>
		<key>suffix</key>
		<string>docx</string>
		<key>enabled</key>
		<true/>
		<key>executable</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>Word 97 - 2004 Document</string>
		<key>filename</key>
		<string>WordDocument.doc</string>
		<key>prefix</key>
		<string>WordDocument</string>
		<key>suffix</key>
		<string>doc</string>
		<key>enabled</key>
		<false/>
		<key>executable</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>Excel Document</string>
		<key>filename</key>
		<string>ExcelDocument.xlsx</string>
		<key>prefix</key>
		<string>ExcelDocument</string>
		<key>suffix</key>
		<string>xlsx</string>
		<key>enabled</key>
		<true/>
		<key>executable</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>Excel 97 - 2004 Document</string>
		<key>filename</key>
		<string>ExcelDocument.xls</string>
		<key>prefix</key>
		<string>ExcelDocument</string>
		<key>suffix</key>
		<string>xls</string>
		<key>enabled</key>
		<false/>
		<key>executable</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>PowerPoint Document</string>
		<key>filename</key>
		<string>PowerPointDocument.pptx</string>
		<key>prefix</key>
		<string>PowerPointDocument</string>
		<key>suffix</key>
		<string>pptx</string>
		<key>enabled</key>
		<true/>
		<key>executable</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>PowerPoint 97 - 2004 Document</string>
		<key>filename</key>
		<string>PowerPointDocument.ppt</string>
		<key>prefix</key>
		<string>PowerPointDocument</string>
		<key>suffix</key>
		<string>ppt</string>
		<key>enabled</key>
		<false/>
		<key>executable</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>OpenDocument Text</string>
		<key>filename</key>
		<string>ODFTextDocument.odt</string>
		<key>prefix</key>
		<string>TextDocument</string>
		<key>suffix</key>
		<string>odt</string>
		<key>enabled</key>
		<false/>
		<key>executable</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>OpenDocument Spreadsheet</string>
		<key>filename</key>
		<string>ODFSpreadsheet.ods</string>
		<key>prefix</key>
		<string>Spreadsheet</string>
		<key>suffix</key>
		<string>ods</string>
		<key>enabled</key>
		<false/>
		<key>executable</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>OpenDocument Presentation</string>
		<key>filename</key>
		<string>ODFPresentation.odp</string>
		<key>prefix</key>
		<string>Presentation</string>
		<key>suffix</key>
		<string>odp</string>
		<key>enabled</key>
		<false/>
		<key>executable</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>OpenDocument Drawing</string>
		<key>filename</key>
		<string>ODFDrawing.odg</string>
		<key>prefix</key>
		<string>Drawing</string>
		<key>suffix</key>
		<string>odg</string>
		<key>enabled</key>
		<false/>
		<key>executable</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>Shell Script</string>
		<key>filename</key>
		<string>script.sh</string>
		<key>prefix</key>
		<string>script</string>
		<key>suffix</key>
		<string>sh</string>
		<key>enabled</key>
		<true/>
		<key>executable</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>Python Script</string>
		<key>filename</key>
		<string>script.py</string>
		<key>prefix</key>
		<string>script</string>
		<key>suffix</key>
		<string>py</string>
		<key>enabled</key>
		<false/>
		<key>executable</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>Perl Script</string>
		<key>filename</key>
		<string>script.pl</string>
		<key>prefix</key>
		<string>script</string>
		<key>suffix</key>
		<string>pl</string>
		<key>enabled</key>
		<false/>
		<key>executable</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>Ruby Script</string>
		<key>filename</key>
		<string>script.rb</string>
		<key>prefix</key>
		<string>script</string>
		<key>suffix</key>
		<string>rb</string>
		<key>enabled</key>
		<false/>
		<key>executable</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>Tcl Script</string>
		<key>filename</key>
		<string>tcl.tcl</string>
		<key>prefix</key>
		<string>script</string>
		<key>suffix</key>
		<string>tcl</string>
		<key>enabled</key>
		<false/>
		<key>executable</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>Tk Script</string>
		<key>filename</key>
		<string>tk.tcl</string>
		<key>prefix</key>
		<string>script</string>
		<key>suffix</key>
		<string>tcl</string>
		<key>enabled</key>
		<false/>
		<key>executable</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>PHP Document</string>
		<key>filename</key>
		<string>file.php</string>
		<key>prefix</key>
		<string>file</string>
		<key>suffix</key>
		<string>php</string>
		<key>enabled</key>
		<false/>
		<key>executable</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>Java Server Pages Document</string>
		<key>filename</key>
		<string>file.jsp</string>
		<key>prefix</key>
		<string>page</string>
		<key>suffix</key>
		<string>jsp</string>
		<key>enabled</key>
		<false/>
		<key>executable</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>XML Document</string>
		<key>filename</key>
		<string>file.xml</string>
		<key>prefix</key>
		<string>file</string>
		<key>suffix</key>
		<string>xml</string>
		<key>enabled</key>
		<false/>
		<key>executable</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>HTML Document</string>
		<key>filename</key>
		<string>html.html</string>
		<key>prefix</key>
		<string>page</string>
		<key>suffix</key>
		<string>html</string>
		<key>enabled</key>
		<false/>
		<key>executable</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>HTML5 Document</string>
		<key>filename</key>
		<string>html5.html</string>
		<key>prefix</key>
		<string>page</string>
		<key>suffix</key>
		<string>html</string>
		<key>enabled</key>
		<false/>
		<key>executable</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>XHTML Document</string>
		<key>filename</key>
		<string>xhtml.html</string>
		<key>prefix</key>
		<string>page</string>
		<key>suffix</key>
		<string>html</string>
		<key>enabled</key>
		<false/>
		<key>executable</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>LaTeX Document</string>
		<key>filename</key>
		<string>LaTeX.tex</string>
		<key>prefix</key>
		<string>Document</string>
		<key>suffix</key>
		<string>tex</string>
		<key>enabled</key>
		<false/>
		<key>executable</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>Cascading Style Sheet Document</string>
		<key>filename</key>
		<string>style.css</string>
		<key>prefix</key>
		<string>style</string>
		<key>suffix</key>
		<string>css</string>
		<key>enabled</key>
		<false/>
		<key>executable</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>Scalable Vector Graphic</string>
		<key>filename</key>
		<string>Graphic.svg</string>
		<key>prefix</key>
		<string>Graphic</string>
		<key>suffix</key>
		<string>svg</string>
		<key>enabled</key>
		<false/>
		<key>executable</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>WML Document</string>
		<key>filename</key>
		<string>file.wml</string>
		<key>prefix</key>
		<string>page</string>
		<key>suffix</key>
		<string>wml</string>
		<key>enabled</key>
		<false/>
		<key>executable</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>Blank Document</string>
		<key>filename</key>
		<string>BlankDocument</string>
		<key>prefix</key>
		<string>NewFile</string>
		<key>suffix</key>
		<string></string>
		<key>enabled</key>
		<false/>
		<key>executable</key>
		<false/>
	</dict>
</array>
</plist>
