<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>0D65F8C4-C526-4B34-AEEC-8B4A2127CC5B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>k</string>
			<key>text</key>
			<string>Search Kagi for '{query}'</string>
			<key>url</key>
			<string>https://kagi.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
