<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>51D3C1E3-3CEA-41B3-BE87-516C64BF692F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>sh</string>
			<key>text</key>
			<string>Shuup repos</string>
			<key>url</key>
			<string>https://github.com/search?q=org%3Ashuup+{query}&amp;type=Code</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>65169870-196E-49CA-A680-BBFE85064E78</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>dj3</string>
			<key>text</key>
			<string>Django 3 docs</string>
			<key>url</key>
			<string>https://www.google.com/search?q=site:docs.djangoproject.com/en/3.0/+{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>6C3DA072-F665-4F83-96EE-034206779755</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ji</string>
			<key>text</key>
			<string>Jinja2 docs</string>
			<key>url</key>
			<string>https://jinja.octoprint.org/search.html?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C7B06CC4-A2C8-46A9-BF9F-8C2BD8BEF2F3</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>dj1</string>
			<key>text</key>
			<string>Django 1 docs</string>
			<key>url</key>
			<string>https://docs.djangoproject.com/en/1.11/search/?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>DCBBAF66-4464-49F9-88CE-59F39E915F27</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>py</string>
			<key>text</key>
			<string>Python docs</string>
			<key>url</key>
			<string>https://docs.python.org/3.8/search.html?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
