<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>849A5394-3279-43F0-B82E-8360C4B48D50</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>py</string>
			<key>text</key>
			<string>Python docs</string>
			<key>url</key>
			<string>https://www.google.com/search?q=site:docs.python.org/3/+{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
