<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fallbacks</key>
	<array>
		<string>features.websearch.custom.0D65F8C4-C526-4B34-AEEC-8B4A2127CC5B.fallback</string>
	</array>
	<key>fallbacksMode</key>
	<integer>1</integer>
	<key>showContacts</key>
	<false/>
</dict>
</plist>
